

@media screen and (max-width: 480px) {
    #header-logoo-cnt img {
        height: 35px;
        width: 35px;
    
    
    }
    #header-logoo-cnt h3 {
        padding-left: 5px;
        margin: 0;
        font-size: medium;
    }
    .pricing-cnt{
        background-color: #00be8f;
        /* background: linear-gradient(135deg, #00926e, #4caf50); */
        height: fit-content;
        width: 100%;
        padding: 0px;
    }

    .pricing-cnt section{
        padding: 10px;
    }

    .pricing-cnt section:nth-child(1){
        text-align: center;
        padding: 10px;
    }

    .input-cnt{
        height: 50px;
        width: 100%;
        padding: 3px;
        display: flex;
        justify-content: space-between;
        border-radius: 30px;
        background-color: #fff;
    }

    .input-cnt input{
        padding: 0px 20px;
        height: 100%;
        border-radius: 30px;
        width: calc(100% - 90px);
        background-color: #fff;
    }

    .input-cnt button{
        height: 100%;
        border-radius: 30px;
        width: 130px;
        color: #fff;
        display: flex;
        justify-content: center;
        background-color: #000;
    }

    .pricing-cnt section:nth-child(2){
        background-color: #fff;
        height: fit-content;
        width: 100%;
    }

    .pricing-cnt section:nth-child(2) ul:nth-child(2){
        list-style-type: none;
        margin: 0;
        height: 500px;
        width: 100%;
        padding: 10px;
        flex-direction: row;
        display: flex;
        overflow: auto;

        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: space-between;

    }

    .pricing-cnt section:nth-child(2) ul:nth-child(2) li{
        height: 100%;
        width: calc(80% - 0px);
        position: relative;
        flex-shrink: 0;
        border-radius: 5px;
        margin: 0px 10px;
        padding: 10px;
        /* padding: 0; */
        background-color: #ffffff;
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        align-items: center;
    }

    .pricing-cnt section:nth-child(2) ul:nth-child(2) li div:nth-child(1){
        height: fit-content;
        width: 100%;
        position: absolute;
        padding: 10px;
        top: 0;
        left: 0;
        border-radius: 5px 5px 0px 0px;
        background-color: #00926e;
        color: #fff;
        display: flex;
        margin: 0;
        justify-content: center;
        text-align: center;
    }

    .pricing-cnt section:nth-child(2) ul:nth-child(2) li div:nth-child(2){
        height: fit-content;
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .pricing-cnt section:nth-child(2) ul:nth-child(2) li div:nth-child(2) span h4{
        text-align: left;
    }

    .pricing-cnt section:nth-child(2) ul:nth-child(2) li div:nth-child(3){
        height: fit-content;
        width: 100%;
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    
    .pricing-cnt section:nth-child(2) ul:nth-child(2) li div:nth-child(4){
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: center;
    }

    .pricing-cnt section:nth-child(2) ul:nth-child(2) li div:nth-child(4) ul{
        list-style-type: none;
        padding: 0;
        height: auto;
        width: 100%;
        margin: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pricing-cnt section:nth-child(2) ul:nth-child(2) li div:nth-child(4) ul li{
        height: auto;
        width: 100%;
        font-size: small;
        display: flex;
        flex-direction: row;
        margin: 0px 0px;
        font-weight: 100;
        justify-content: flex-start;
        /* justify-content: space-between; */
    }


    .pricing-cnt section:nth-child(3){
        background-color: #fff;
        color: #000;
        padding: 20px;
        height: fit-content;
        width: 100%;
    }

    .pricing-cnt section:nth-child(3) ul{
        list-style-type: none;
        margin: 0;
        height: 300px;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
    }

    .pricing-cnt section:nth-child(3) ul li{
        height: 100%;
        width: calc(80% - 0px);
        position: relative;
        border-radius: 5px;
        padding: 10px;
        /* padding: 0; */
        flex-shrink: 0;
        background-color: #ffffff;
        display: flex;
        margin: 0px 10px;
        flex-direction: column;

        justify-content: space-between;
        align-items: center;
    }


    .pricing-cnt section:nth-child(4){
        background-color: #fff;
        color: #000;
        padding: 20px;
        height: auto;
        width: 100%;
    }

    .pricing-cnt section:nth-child(4) ul{
        list-style-type: none;
        margin: 0;
        height: 400px;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
    }

    .pricing-cnt section:nth-child(4) ul li{
        height: 100%;
        width: calc(90% - 10px);
        position: relative;
        border-radius: 5px;
        padding: 20px;
        flex-shrink: 0;
        /* padding: 0; */
        background-color: #ffffff;
        display: flex;
        margin: 0px 10px;
        flex-direction: column;

        justify-content: flex-start;
        align-items: flex-start;
    }


    .pricing-cnt section:nth-child(4) ul li div:nth-child(1){
        height: fit-content;
        width: 100%;
        position: absolute;
        padding: 10px;
        top: 0;
        left: 0;
        border-radius: 5px 5px 0px 0px;
        background-color: #00926e;
        color: #fff;
        display: flex;
        margin: 0;
        justify-content: center;
        text-align: center;
    }

    .pricing-cnt section:nth-child(4) ul li div:nth-child(2){
        height: auto;
        margin-bottom: 0px;
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .pricing-cnt section:nth-child(4) ul li div:nth-child(2) span h4{
        text-align: left;
    }

    .pricing-cnt section:nth-child(4) ul li div:nth-child(3){
        height: fit-content;
        width: 100%;
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    
    .pricing-cnt section:nth-child(4) ul li div:nth-child(4){
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: center;
    }





    .pricing-cnt section:nth-child(5){
        background-color: #000;
        color: #fff;
        padding: 20px;
        height: auto;
        width: 100%;
    }

    .pricing-cnt section:nth-child(5) ul{
        list-style-type: none;
        margin: 0;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: space-between;

    }

    .pricing-cnt section:nth-child(5) ul li{
        height: 100%;
        width: calc(100% - 0px);
        position: relative;
        border-radius: 5px;
        padding: 10px;
        /* padding: 0; */
        background-color: #000;
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: flex-start;
    }


    .faq-sub-list{
        list-style-type: none;
        margin: 0;
        height: auto;
        width: 100%;
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .faq-sub-list #faq-sub-list-title{
        height: auto;
        /* margin-bottom: 0px; */
        width: 100%;
        margin: 0px;
        padding: 0;
        color: #fff;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .faq-sub-list #faq-sub-list-title hr{
        color: #fff;
        background-color: #fff;
        width: 100%;
        height: 2px;
    }

    .faq-sub-list #faq-sub-list-title div:nth-child(1){
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: flex-start;
    }
    
    .faq-svg{
        height: 25px;
        width: 25px;
    }
  
}

