
@media screen and (max-width: 760px) {
    #header-logoo-cnt img {
        height: 35px;
        width: 35px;
    
    
    }

    #deedyte-about-head{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #deedyte-about-head div{
        width: 100%;
        padding: 10px;
    }

    #deedyte-about-head div img{
        height: 100%;
        width: 100%;
    }
    

    /* HEAD */
    .pricing-cnt{
        height: 100%;
        width: 100%;
        display: block;
        background-color: #00b688; 
    }

    .pricing-cnt section:nth-child(1){
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #00b688;
        padding: 10px;
    }

    .pricing-cnt section:nth-child(1) div{
        height: 100%;
        width: 50%;
        padding: 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pricing-cnt section:nth-child(1) div button{
        width: fit-content;
        padding: 10px;
        height: auto;
    }

    .pricing-cnt section:nth-child(1) div button:hover{
        background-color: #000;
    }
    /* HEAD */



    /* Story */
    .pricing-cnt section:nth-child(2){
        height: fit-content;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        color: #000;
        padding: 10px;
    }

    .deedyte-story-cnt{
        display: flex;
        height: auto;
        padding: 20px;
        flex-direction: column;
    }


    .deedyte-story-cnt div{
        height: 100%;
        width: 100%;
        /* padding: 40px 40px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    /* Story */



    /* Mission */

    .mission-statement{
        
        width: 100%;
        margin: 10px 0px;
    }

    .deedyte-story-cnt{
        display: flex;
        height: auto;
    }
    .deedyte-story-img-cnt img{
        width: 100%;
    }


    .deedyte-story-text-cnt{
        width: 100%;
    }

    



    /* Mission */



    #commitment-cnt{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 30px 10px;
        background-color: #fff;
        height: 100%;
        width: 100%;
    }
   
    #commitment-cnt div{
        padding: 10px 10px;
    }
    #commitment-cnt div img{
        width: 100%;
    }
    #commitment-cnt-textarea{
        width: 100%;
    }
  

    .commitment-txt{
        line-height: 22px;
    }
}

